body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),   url(Images/akoth3.jpg);
    background-color: black;
    width: 80vw;
    height: 185vh;
    background-repeat: no-repeat;
}




h1{
    position: absolute;
    color: white;
    font-size: 5em;
    text-align: center;
    transform: translate(40%);
    margin-top: 28%;
    width: 50%;
}

.navbar{
    position: absolute;
    margin-top: 44%;
    margin-left: 20%;
    background-color: black;
    width: 38%;
    padding: 1%;
    border-radius: 3em;
    font-size: 1.3em;

}
.navbarItems{
    list-style: none;
    display: flex;
    gap: 3%;

}

.navbar a{
    text-decoration: none;
    color: white;
}

#reservationsLink{
    background-color: grey;
    padding: 10%;
    border-radius: 1em;
}

#whatssapIcon{
position: fixed;
font-size: 30px;
margin-top: 800px;
margin-left: 90%;
background-color: black;
border: white 1px solid;
border-radius: 2em;
padding: 1%;
}