

body{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),   url(Images/shita.jpg);
    overflow-x: hidden;
    background-color: rgb(226,75,26);   
    width: 100vw;
    height: 85vw;
    background-repeat: no-repeat;

   

     
}

.live{
    margin-left: 5%;
    margin-top: 5%;
}

h1{
    position: absolute;
    color: white;
    font-size: 5em;
    text-align: center;
    transform: translate(40%);
    margin-top: 20%;
    width: 50%;
}


.navbar{
    position: absolute;
    margin-top: 38%;
    margin-left: 20%;
    background-color: black;
    width: 38%;
    padding: 1%;
    border-radius: 3em;
    font-size: 1.3em;

}
.navbarItems{
    list-style: none;
    display: flex;
    gap: 3%;

}

.navbar a{
    text-decoration: none;
    color: white;
}

#reservationsLink{
    background-color: grey;
    padding: 10%;
    border-radius: 1em;
}

#whatssapIcon{
position: fixed;
font-size: 30px;
margin-top: 700px;
margin-left: 90%;
background-color: black;
border: white 1px solid;
border-radius: 2em;
padding: 1%;
}

.navbarToggle{
    display: none;
}

@media only screen and (max-width:500px) and (min-width:0px){
    body{
        background-size: 100%;
        height: 80vh;

    }


h1{
    position: absolute;
    color: white;
    font-size: 2.6em;
    text-align: center;
    transform: translate(2%);
    margin-top: 40%;
    width: 90%;
}

 .navbar{
    position: absolute;
    margin-top: 100%;
    margin-left: 10%;
    background-color: black;
    width: 50vw;
    padding: 10%;
    border-radius: 1em;
    font-size: 1em;
    box-shadow: 0 4px 8px 0 rgba(250, 246, 246, 0.2), 0 6px 20px 0 rgba(243, 240, 240, 0.19);
 
}

.navbarToggle{
display: block;
}

.navbarItems{
display: none;
list-style: none;
gap: 3%;

}

.navbarItems.show{

display: block;
}


#reservationsLink{
background-color: black;
padding: 1%;

}


#whatssapIcon{
 display: none;
    }
}

@media only screen and (max-width:800px) and (min-width:501px){

    body{
        background-size: 100%;
        height: 80vh;

    }

    h1{
        position: absolute;
        color: white;
        font-size: 3em;
        text-align: center;
        transform: translate(2%);
        margin-top: 40%;
        width: 90%;
    }
    
     .navbar{
        position: absolute;
        margin-top: 100%;
        margin-left: 10%;
        background-color: black;
        width: 50vw;
        padding: 10%;
        border-radius: 1em;
        font-size: 1.5em;
        box-shadow: 0 4px 8px 0 rgba(250, 246, 246, 0.2), 0 6px 20px 0 rgba(243, 240, 240, 0.19);
     
    }
    
    .navbarToggle{
    display: block;
    }
    
    .navbarItems{
    display: none;
    list-style: none;
    gap: 3%;
    
    }
    
    .navbarItems.show{
    
    display: block;
    }
    
    
    #reservationsLink{
    background-color: black;
    padding: 1%;
    
    }
    
    
    #whatssapIcon{
     display: none;
        }

}


@media only screen and (max-width:1200px) and (min-width:801px){

    body{
        background-size: 100%;
        height: 80vh;

    }

    h1{
        position: absolute;
        color: white;
        font-size: 3em;
        text-align: center;
        transform: translate(2%);
        margin-top: 30%;
        width: 90%;
    }
    
     .navbar{
        position: absolute;
        margin-top: 100%;
        margin-left: 10%;
        background-color: black;
        width: 50vw;
        padding: 10%;
        border-radius: 1em;
        font-size: 1.5em;
        box-shadow: 0 4px 8px 0 rgba(250, 246, 246, 0.2), 0 6px 20px 0 rgba(243, 240, 240, 0.19);
     
    }
    
    .navbarToggle{
    display: block;
    }
    
    .navbarItems{
    display: none;
    list-style: none;
    gap: 3%;
    
    }
    
    .navbarItems.show{
    
    display: block;
    }
    
    
    #reservationsLink{
    background-color: black;
    padding: 1%;
    
    }
    
    
    #whatssapIcon{
     display: none;
        }

}



