body{
    overflow: hidden;
margin: 0;}

.menu{
    display: flex;
  

    p{
        color: white;
        text-align: center;
    }

    h1{
        color: white;
        text-align: center;
    }
}

.kitisuruMenu{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),   url(Images/menu2.jpg);
    width: 50vw;
    height: 100vh;
    background-repeat: no-repeat;
}

.kilimaniMenu{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),   url(Images/menu2.jpg);
    width: 50vw;
    height: 100vh;
    background-repeat: no-repeat;
}

#ankoleLogo{
    position: absolute;
    top: 10%;
    left: 45%;
 width: 10%;

}

.menuText{
    margin-top: 10em;
    font-size: 2em;
}

#tagline{
    color: red;
    animation-name: slideFromTop;
}




#menuLink{
    text-decoration: none;
}

 
#whatssapIcon{
    position: absolute;
    font-size: 30px;
    top: 85%;
    left: 93%;
    
    background-color: black;
    border: white 1px solid;
    border-radius: 2em;
    padding: 1%;
    }
  
 
.socialIcons{
    position:absolute;
    left: 93%;
    bottom: 95%;
    display: flex;
    gap:50%;
  
    }
  


  #instaIcon{
    font-size: 20px;
    filter: brightness(60%);
    
  
  }

  .insta{
    border: solid 1px white;
    width: 100%;
    padding: 20%;
    border-radius: 3em;
    filter: brightness(60%);
  }
  
  .facebook{
    border: solid 1px white;
    width: 100%;
    padding: 20%;
    border-radius: 2em;
    filter: brightness(60%);
   justify-content: center;
  }




  .navbar{
    position: absolute;
     position: absolute;
     top: 82%;
     left: 25%;
     padding: 0.7%;
    background-color: black;
    margin-left: 0px;
    padding-left: 0px;
    width: 40%;
    border-radius: 3em;
    font-size: 1.3em;
    box-shadow: 0 4px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);
  
  }
  .navbarItems{
    list-style: none;
    display: flex;
    gap: 3%;
  
  }
  
  .navbar a{
    text-decoration: none;
    color: white;
  }

  .popup{
    display: none;
    position: absolute;
    bottom: 90px;
    top: auto;
    left: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 999;
    font-size: 0.9em;
  }
  
  .clockIcon:hover .popup{
    display: block;
  }

  .hamburger{
    position: relative;
  }
  .menuWrapper{
    position: relative;
    display: inline-block;
    background-color: transparent;
  }
  .menuIcon{
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
  }
   .mobileMenu{
    display: none;
    position: absolute;
    bottom: 100%;
    left: -20px;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    z-index: 1000;
    width: 250px;
   }

   .menuWrapper:hover .mobileMenu{
    display: block;
   }

   .mobileMenu a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0px;

   }

   .mobileMenu hr{
    border: 0;
    border-top: 1px solid #555;
    margin: 0;
   }
   #reservationsLink{
    background-color: grey;
    padding: 5%;
    border-radius: 1em;
    text-align: center;
    width: 100%;       

  }
  
  
@media only  screen and (max-width:750px) and (min-width:0px){
    body{
        overflow: scroll;
    }

    .menu{
     flex-direction: column;

}


#ankoleLogo{
    width: 20%;
    left: 40%;

 

}


.menuText{
    margin-top: 8em;
    font-size: 1.5em;
}



.kitisuruMenu{
    width: 100vw;
    height: 70vh;
}

.kilimaniMenu{
    width: 100vw;
}



#menu,#homeMenu, #live ,#contacts, #events, #reviews{
    display: none;
 }
 .navbar{
    position: fixed;
     left: 3%;
     top: 65%;
     width: 80%;
     padding: 0% 1em;
 
 
 }
 
 
 
 
 
   .navbarItems{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
   }
  
 #whatssapIcon{
     position: fixed;
     font-size: 30px;
     top: 53%;
     left: 80%;
     
     background-color: black;
     border: white 1px solid;
     border-radius: 2em;
     padding: 2%;
     }
   
  
 .socialIcons{
     position:fixed;
     left: 88%;
     bottom: 85%;
     display: flex;
     flex-direction: column;
     gap:50%;
   
     }
   .facebook{
     margin-top: 35%;
   }
   #reservationslink{
     padding-left: 0.2em;
   }
  
   .clockIcon{
     font-size: 130%;
     padding-left: 1em;
   }
   .menuIcon{
     font-weight: 150%;
   }



}



@media only  screen and (max-width:999px) and (min-width:751px){
       
    body{
        overflow: scroll;
    }

    .menu{
     flex-direction: column;

}


#ankoleLogo{
    width: 15%;
    left: 42%;
    position: fixed;

 

}


.menuText{
    margin-top: 11em;
    font-size: 1.5em;
}



.kitisuruMenu{
    width: 100vw;
    height: 70vh;
}

.kilimaniMenu{
    width: 100vw;
}



 .navbar{
    position: fixed;
     left: 3%;
     top: 65%;
     width: 80%;
     padding: 0% 1em;
     font-size: 1em;
 
 
 }
 
 
 
 
 
   .navbarItems{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
   }
  
 #whatssapIcon{
     position: fixed;
     font-size: 30px;
     padding: 2%;
     top: 55%;
     left: 85%;
     
     background-color: black;
     border: white 1px solid;
     border-radius: 2em;
     }
   
  
 .socialIcons{
     position:fixed;
     left: 88%;
     bottom: 85%;
     display: flex;
     flex-direction: column;
     gap:50%;
   
     }
   .facebook{
     margin-top: 35%;
   }
   #reservationslink{
     padding-left: 0.2em;
   }
  
   .clockIcon{
     font-size: 130%;
     padding-left: 1em;
   }
   .menuIcon{
     font-weight: 150%;
   }
}

@media only  screen and (max-width:1600px) and (min-width:1000px){

   
  .navbar{
     top: 80%;
     left: 30%;
      font-size: 1em;
    width: 40%;
   
  
  }


    
 
.socialIcons{
    left: 89%;
    bottom: 92%;
   
  
    }

}