body{
  overflow:hidden;
  background-color: black;
}
.reservations{
    display: flex;
    margin: -10px;
}


.reservationsTitle{

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(Images/gudflower.jpg);
  width: 60vw;
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  

}


#ankoleLogo{
  margin-top: 2rem;
  width: 20%;
}


p{
    color: white;
    font-size: 3em;
}
h1{
    color: red;
    font-size: 5em;
}

.reservationsForm{
    background-color: rgb(10, 10, 10);
    width: 60vw;
}
 
form{
    width: 38vw;
    height: 80vh;
    background-color: black;
    margin:  3% 10%;
    border-radius: 2em;
    padding: 2em;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(44, 44, 44, 0.2), 0 6px 20px 0 rgba(27, 27, 27, 0.19);
}

#input{
   width: 100%;
   height: 8%;
   padding: em;
   background-color:black;
   color: grey;
   color-scheme: dark;
   


}




#submit{
  width: 100%;
  background-color: rgb(242,213,165);
  border-radius: 1em;
  border: none;
  padding: 2em;
  margin-top: 3em;
  color: black;

}

#submitA :hover{
  background-color:  rgb(231, 173, 80);
}
label{
 font-size: 1em;
}


.navbar{
  position: absolute;
   position: absolute;
   top: 75%;
   left: 30%;
  background-color: black;
  width: 40vw;
  border-radius: 3em;
  font-size: 1.3em;
  box-shadow: 0 4px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);

}
.navbarItems{
  list-style: none;
  display: flex;
  gap: 3%;

}

.navbar a{
  text-decoration: none;
  color: white;
}

#reservationsLink{
  background-color: grey;
  padding: 5% 10%;
  border-radius: 1em;
  text-align: center;
}

#reservationsLink :hover{
  background-color: white;
  color: black;
}

#whatssapIcon{
  position: absolute;
  font-size: 30px;
  top: 85%;
  left: 93%;
  
  background-color: black;
  border: white 1px solid;
  border-radius: 2em;
  padding: 1%;
  }

.socialIcons{
display: none;
}

#instaIcon{
  font-size: 20px;
  

}
#facebookIcon{
  font-size: 20px;
 

}

.navbarToggle{
  display: none;
}


@media only screen and (max-width:1400px) and (min-width:801px){
  

.reservationsForm{
  background-color: rgb(10, 10, 10);
  width: 60vw;
  overflow-y: hidden;
}

form{
  width: 38vw;
  height: 80vh;
  background-color: black;
  margin:  3% 10%;
  border-radius: 2em;
  padding: 2em;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(44, 44, 44, 0.2), 0 6px 20px 0 rgba(27, 27, 27, 0.19);
}
      

}
