body{
    background-color: black;
    color: white;
}

.reviewContainer{
  position: relative;
  width: 100%;
  padding: 0px;
}

.review {
    display: none;
  font-size: 1.5rem;
  padding: 20px;
  width: 50vw;
  border-radius: 10px;
  text-align: center;
  transform: translate(50%);
  color: white;

}

.review.active {
  display: block;
}

.controls {
   position: absolute;
  text-align: center;
  top: 50%;
  left: 10%;
   transform: translateX(10%);
  display: flex;
  gap: 1200px;
  z-index: 10;

}

.controls i {
  font-size: 1.5rem;
  margin: 0 10px;
  cursor: pointer;

}



#ankoleLogo{
    width: 20%;
    margin-top: 50px;
}

#leftQuote{
   margin-right: 90%;
}

#rightQuote{
  margin-left: 90%;
}


 
#whatssapIcon{
  position: absolute;
  font-size: 30px;
  top: 85%;
  left: 93%;
  
  background-color: black;
  border: white 1px solid;
  border-radius: 2em;
  padding: 1%;
  }


.socialIcons{
  position:absolute;
  left: 93%;
  bottom: 95%;
  display: flex;
  gap:50%;

  }



#instaIcon{
  font-size: 20px;
  filter: brightness(60%);
  

}

.insta{
  border: solid 1px white;
  width: 100%;
  padding: 20%;
  border-radius: 3em;
  filter: brightness(60%);
}

.facebook{
  border: solid 1px white;
  width: 100%;
  padding: 20%;
  border-radius: 2em;
  filter: brightness(60%);
 justify-content: center;
}




.navbar{
  position: absolute;
   position: absolute;
   top: 82%;
   left: 25%;
   padding: 0.7%;
  background-color: black;
  margin-left: 0px;
  padding-left: 0px;
  width: 40%;
  border-radius: 3em;
  font-size: 1.3em;
  box-shadow: 0 4px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);

}
.navbarItems{
  list-style: none;
  display: flex;
  gap: 3%;

}

.navbar a{
  text-decoration: none;
  color: white;
}

.popup{
  display: none;
  position: absolute;
  bottom: 90px;
  top: auto;
  left: 20px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 999;
  font-size: 0.9em;
}

.clockIcon:hover .popup{
  display: block;
}

.hamburger{
  position: relative;
}
.menuWrapper{
  position: relative;
  display: inline-block;
  background-color: transparent;
}
.menuIcon{
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}
 .mobileMenu{
  display: none;
  position: absolute;
  bottom: 100%;
  left: -20px;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  z-index: 1000;
  width: 250px;
 }

 .menuWrapper:hover .mobileMenu{
  display: block;
 }

 .mobileMenu a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0px;

 }

 .mobileMenu hr{
  border: 0;
  border-top: 1px solid #555;
  margin: 0;
 }
 #reservationsLink{
  background-color: grey;
  padding: 5%;
  border-radius: 1em;
  text-align: center;
  width: 100%;       

}

@media only screen and (max-width:750px) and (min-width:0px){

  

#ankoleLogo{
  width: 60%;
  margin-top: 50px;
}
.review {
  display: none;
font-size: 0.9rem;
padding: 20px;
width: 60vw;
border-radius: 10px;
text-align: center;
transform: translate(20%);
color: white;

}



.controls {
  position: absolute;
 text-align: center;
 top: 48%;
 left: 0%;
  transform: translateX(10%);
 display: flex;
 gap: 65vw;
 z-index: 10;

}

#menu,#homeMenu, #live ,#contacts, #events, #reviews{
  display: none;
}
.navbar{
  position: fixed;
   left: 10%;
   top: 90%;
   width: 60%;
   padding: 0% 1em;
   font-size: 0.9em;
   box-shadow: 0 4px 8px 0 rgba(57, 57, 57, 0.2), 0 6px 20px 0 rgba(53, 53, 53, 0.19);



}


 .navbarItems{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }

#whatssapIcon{
   position: fixed;
   font-size: 30px;
   top: 73%;
   left: 75%;
   
   background-color: black;
   border: white 1px solid;
   border-radius: 2em;
   padding: 2%;
   }
 

.socialIcons{
   position:fixed;
   left: 85%;
   bottom: 85%;
   display: flex;
   flex-direction: column;
   gap:50%;
 
   }
 .facebook{
   margin-top: 35%;
 }
 #reservationslink{
   padding-left: 0.2em;
 }

 .clockIcon{
   font-size: 130%;
   padding-left: 1em;
 }
 .menuIcon{
   font-weight: 150%;
 }




}

@media only screen and (max-width:1100px) and (min-width:751px){

     

#ankoleLogo{
  width: 44%;
  margin-top: 50px;
}
.review {
  display: none;
font-size: 1.2rem;
padding: 20px;
width: 60vw;
border-radius: 10px;
text-align: center;
transform: translate(30%);
color: white;

}



.controls {
  position: absolute;
 text-align: center;
 top: 60%;
 left: 5%;
  transform: translateX(10%);
 display: flex;
 gap: 68vw;
 z-index: 10;

}


#whatssapIcon{
  position: absolute;
  font-size: 30px;
  top: 85%;
  left: 85%;
  
  background-color: black;
  border: white 1px solid;
  border-radius: 2em;
  padding: 1%;
  }


.socialIcons{
  position:absolute;
  left: 85%;
  bottom: 95%;
  display: flex;
  gap:50%;

  }

  


.navbar{
  position: absolute;
   top: 85%;
   left: 5%;
   padding: 0.7%;
  background-color: black;
 
  width: 65%;
  border-radius: 3em;
  font-size: 1em;
  box-shadow: 0 4px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);

}



}


@media only screen and (max-width:1600px) and (min-width:1101px){
   
#ankoleLogo{
  width: 30%;
  margin-top: 50px;
}
.review {
  display: none;
font-size: 1.2rem;
padding: 20px;
width: 60vw;
border-radius: 10px;
text-align: center;
transform: translate(30%);
color: white;

}



.controls {
  position: absolute;
 text-align: center;
 top: 60%;
 left: 5%;
  transform: translateX(10%);
 display: flex;
 gap: 68vw;
 z-index: 10;

}


#whatssapIcon{
  position: absolute;
  font-size: 30px;
  top: 85%;
  left: 85%;
  
  background-color: black;
  border: white 1px solid;
  border-radius: 2em;
  padding: 1%;
  }


.socialIcons{
  position:absolute;
  left: 85%;
  bottom: 95%;
  display: flex;
  gap:50%;

  }

  


.navbar{
  position: absolute;
   top: 85%;
   left: 15%;
   padding: 0.7%;
  background-color: black;
 
  width: 45%;
  border-radius: 3em;
  font-size: 1em;
  box-shadow: 0 4px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(36, 35, 35, 0.19);

}


}

